html,#root{
height: 100vh;
font-family: Arial;
padding: 0;
margin: 0;
background-color: #1E1E1E;
color: white;
align-items: center;
align-content: center;
text-align: center;
}
table,tbody{
    margin-left: auto;
    margin-right: auto;
    line-height: 100%;
}
#timetable td{
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    padding-top: 0;
    padding-bottom: 0;
}
header{
    background-color: #000000;
    z-index: 5;
    display: block;
    position: fixed;
    width:100%;
}
#setting,#next{
    font-size:36px;
    line-height: 190%;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
    border-collapse: separate;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 0;
    padding-bottom: 0;
}
h1{
    display: inline-block;
}
#settingdiv,#nextdiv{
    display: none;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: black;
    margin-top: 10vh;
    white-space: nowrap;

}
#timetable{
    padding-top:15vh
}
#timetable .grey{
    color: darkgrey;
}
aside{
    width: 90%;
    border-style: solid;
    border-width: thin;
    border-color: white;
    color: #000000;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin: 5%;
    align-items: center;
    vertical-align: middle;
    border-radius:10px;
    padding: 9%;
    padding-left: 8%;
}

#dia{
    background-color: #f7f8d3;
    border-color: #2b2c07;
}
#uni{
    background-color: #aad4bc;
    border-color: #2b553d;
}
#ma{
    background-color:#d4a4db ;
    border-color: #55245b;
}

h2,h3{
    margin-top: 0;
    margin-bottom: -10px;
    padding-top: 0;
    padding-bottom: 0;
}
h3{
    margin-bottom: -5px;

}

#nextdiv tr td{
    width: 40%;
}